<footer class="container-fluid">
        <div class="row logo-footer text-left">
            <div class="col-3">
                <a href="#">
                    <div class="logo-footer">
                        <h2>ovendor.com :)</h2>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-3 d-flex flex-column align-items-start">
                <a href=""><span>Política de Responsabilidade</span></a>
                <a href=""><span>Ajuda</span></a>
                <a href=""><span>Minha conta</span></a>
                <a href=""><span>Anúncios</span></a>
            </div>
            <div class="col-3 d-flex flex-column align-items-start">
                <a href=""><span>Trabalhe conosco</span></a>
                <a href=""><span>Pesquisas populares</span></a>
                <a href=""><span>Dicas para sua negociação</span></a>
            </div>
            <div class="col-6 icon-footer">
                <!--<font-awesome-icon :icon="{prefix: 'fab', iconName: 'facebook-square'}" />
                <font-awesome-icon :icon="{prefix: 'fab', iconName: 'twitter-square'}" />
                <font-awesome-icon :icon="{prefix: 'fab', iconName: 'twitter-square'}" />
                <font-awesome-icon :icon="{prefix: 'fab', iconName: 'youtube'}" />
                <font-awesome-icon :icon="{prefix: 'fab', iconName: 'google-plus-square'}" /> -->
            </div>
        </div>
    </footer>